/*global*/
*{
    margin:0;
}
body{
    font-family: arial;
    background-color: rgb(239, 239, 239);
}
a{
    color:#000000;
}
img{
    max-width: 100%;
}
h3{
    text-align: center;
    font-size: 40px;
}

/*header*/
.site-header{
    background-color: black;
    color:white;
    padding:20px;
    text-align: center;
}
.menu .menu-link-container{
    list-style: none;
}
.menu-link-container{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.menu-link a{
    color:white;
    text-decoration: none;
}
.menu{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.menu-bar-flex{
display: flex;
justify-content: space-around;
}
.submit-btn{
    background-color: #3bbceb;
    color: black;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
/*main*/
main{
    width:80%;
    text-align: center;
    margin:100px auto 100px auto;
}
main h2{
    font-size: 52px;
    /* width: 50%; */
}
main p{
    font-size: 14px;
    color:#8b8b8b;
}
main img{
    margin-top: 20px;
}

/*gallery*/
.flex{
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: 30%;
    border-color: #3bbceb;
    border-style:groove;
    font-family: cursive;
    }
    .card img{
        justify-content: center;
        
    }

.flex-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

/*form*/
.container{
    width: 80%;
    margin: 20px auto;
}
.form-container{
    background-color: #ffcc00;
    padding: 20px;
    border-radius: 10px;
}
.input-container{
    margin-bottom: 20px;
    display: flex;
}
.input-container input,
.input-container textarea{
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border:none;
}
.input-container label{
    width: 20%;
}
.btn-container{
    display: flex;
    justify-content: flex-end;
}
.btn-send{
    background-color: black;
    color: white;
    border:none;
    padding: 10px;
}
.learn-more-link{
    padding: 10px;
    border-style: ridge;
}

/*pet form*/
.pet-container{
    background-color: #85d3ef;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    margin: 50px auto;
    text-align: center;
}
.pet-choice{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 3px;
}
.pet-choice label{
    width: 100px;
    text-align: right;
    margin-right: 10px;
}